.sectionHero {
    display: flex;
    margin-top: auto;
    padding-top: 50px;
    padding-right: 21px;
    padding-left: 21px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainSection {
    background-color: "#F5F5F7";
    min-height: 100vh;
    width: 80%;
    margin: auto;

}
.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: var(--red);
    transform-origin: 0%;
}

.parag{
    color:red;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.mainTitle {
    position: absolute;
    width: 499px;
    height: 30px;
    left: 118px;
    top: 183px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #0A0A0A;
}

.getStarted {
    position: absolute;
    width: 181px;
    height: 62px;
    left: 118px;
    top: 568px;
    color: #fff;
    background: #1B1C31;
}

.subTitle {
    position: absolute;
    width: 499px;
    height: 234px;
    left: 118px;
    top: 221px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 140%;
    /* or 78px */

    letter-spacing: -0.03em;

    color: #0A0A0A;
}

.mainPara {
    position: absolute;
    width: 499px;
    height: 84px;
    left: 118px;
    top: 463px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    /* or 28px */

    letter-spacing: -0.02em;

    color: #757095;
}

.subH1 {
    margin-bottom: 30px;
    font-size: 42px;
    text-align: center;
}

.content {
    position: static;
    padding: 40px 30px 50px;
    justify-content: space-around;
    align-items: center;
    background-color: #EEEEF4;
    text-align: center;
}


.main_heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 48px;
    /* identical to box height, or 100% */

    text-align: center;
    letter-spacing: -0.03em;

    color: #0A0A0A;
}

.listITems {
    padding-right: 40px;
}

.ulList {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    margin-bottom: -5px;
    padding-right: 20px;

}

.main_sub_heading {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    /* identical to box height, or 28px */

    text-align: center;
    letter-spacing: -0.02em;

    color: #64607D;
}

.checkups {
    position: absolute;
    width: 88px;
    height: 48px;
    left: 714px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 48px;
    /* identical to box height, or 100% */

    text-align: center;
    letter-spacing: -0.03em;

    color: #0A0A0A;
}

.stats {
    position: absolute;
    width: 378px;
    height: 38px;
    left: 118px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    /* identical to box height */
    color: #0A0A0A;
}

.partnerProgram {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    position: static;
    padding: 40px 30px 50px;
    padding: 0px;
    gap: 10px;
    width: 88%;
    margin: auto;
    height: 80vh;
    background-color: #FFFFFF;
}

.thirdSection {
    background-color: #FFFFFF;

}

.exerciseImg {
    position: relative;
    top: 0;
    left: 0;
}

.vectorImg {
    position: absolute;
    top: 1538px;
    left: 120px;
}


.featured_section {
    background-color: #FFFFFF;

}

.featured_packages_section {
    padding-top: 5%;
    background-color: #FFFFFF;
    width: 90%;
    margin: auto;
}

.cards {
    margin-top: -60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.featured_packages {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    /* identical to box height, or 120% */

    text-align: center;
    letter-spacing: -0.03em;

    color: #0A0A0A;
}

.exercises {
    display: flex;
    flex-direction: column;
    width:80%;
    margin:auto;
    justify-content: center;
    align-items: flex-end;
    backdrop-filter: blur(5px);
    height: 80vh;
    
}

.Lorem_Ipsum {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #F57059;
    margin-bottom: 30px;
    border-bottom: 2px inset #F57059;
    display:inline-block;
    padding-bottom: 10px;
}

.exerciseList {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */
    letter-spacing: -0.03em;
    color: #0A0A0A;
    margin-top: 20px;
}

.loermHeading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.03em;
    color: #0A0A0A;
}


.loermP {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    /* or 188% */
    letter-spacing: -0.02em;
    color: #64607D;
}

.innerBlock {
    display: flex;
    padding: 20px 15px 15px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #e4e7e7;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 0 26px 0 rgb(0 0 0 / 7%);
    text-align: center;
}

.innerBlockIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
    /* padding-top: 15px; */
    border: 1px solid #e7e7e7;
    border-radius: 100%;
    background-color: #fff;
}

.exercisesSection {
    background:url("exercises.jpg");
    background-repeat: no-repeat;
   height: 90vh;
   background-attachment: fixed;
}
.exercisesSection_1{
    margin-top: 10%;
    background-color: #F4F6F8;
    background-repeat: no-repeat;
}



.sampleExercises {
   
    width: 90%;
    margin: auto;


}

.refrences {
    background-color: #F57059;
    padding-top:2%;
    margin-top: 5%;
    padding-bottom:5%;

}

.sampleImages {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.samEx {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.03em;
    color: #0A0A0A;

}

.imageOverlay {
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: linear-gradient(90deg, #fff 39%, hsla(0, 0%, 100%, 0) 80%);
}

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
}

.row {
    margin-left: -10px;
    margin-right: -10px;
}

.textColumn {
    padding-right: 35px;
    width: 50%;
    position: relative;
    min-height: 1px;
}

.textColumn h2 {
    margin-bottom: 40px;
    margin-top: 0px;
    font-size: 35px;
    line-height: 42px;
    font-weight: 300;
}

.textColumn p {
    margin-top: 0px;
    margin-bottom: 20px;
    font-family: Inter, sans-serif;
    font-size: 18px;
    line-height: 27px;
}


.title {
    margin-top: 20px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
}

.refrencesList {
    padding-top: 5%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 60px;

}

/* SCIENTIFICALLY SECTION */
.scientifically {
    padding-top: 100px;
    background-image: url('https://assets.website-files.com/5c7fe7d904beac7c6ce5de13/5d9602f4cfbd82d255ac4d14_bg_confetti.png');
    background-position: 0% 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
    display: flex;
    padding: 40px 30px 100px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    text-align: center;
    font-size: 18px;
    line-height: 27px;
}

.provenContainer {
    display: flex;
    margin-bottom: 20px;
    padding: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: hsla(0, 0%, 100%, 0.77);
    box-shadow: none;
}

.provenContainer .head {
    margin-top: 0px;
    font-family: Inter, sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 48px;
}

.provenContainer .subHead {
    max-width: 990px;
    margin-bottom: 40px;
    font-size: 18px;
}

.provenContainer .para {
    font-size: 16px;
}


/* CLIENTS SECTION */
.client {
    display: flex;
    padding: 40px 30px 100px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    text-align: center;
    font-size: 18px;
    line-height: 27px;
}

.client .head {
    margin-bottom: 30px;
    font-size: 34px;
    font-weight: 700;
    margin-top: 20px;
    line-height: 48px;
}

.client .suhHead {
    max-width: 990px;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 27px;
}

.clientsWrapper {
    display: block;
    width: 100%;
    max-width: 1400px;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

.references {
    display: grid;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 38px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    font-size: 18px;
    line-height: 27px;
}

@media screen and (max-width: 1200px) {
    .references {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 980px) {
    .references {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.clientItem {
    align-self: center;
    justify-self: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    max-height: 65px;
    max-width: 180px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: -webkit-filter 200ms ease;
    transition: -webkit-filter 200ms ease;
    transition: filter 200ms ease;
    transition: filter 200ms ease, -webkit-filter 200ms ease;
    display: inline-block;
    vertical-align: middle;
    border: 0;
}

.logo:hover {
    filter: none !important;
}

/* VIDEO SECTION */
.video {
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    right: -100%;
    bottom: -100%;
    top: -100%;
    left: -100%;
    object-fit: cover;
    z-index: -100;
    background-image: url(https://assets.website-files.com/5c7fe7d904beac7c6ce5de13/5ce2bfa37e30fb4b202219fb_physitrack_background_video_new_3-transcode-poster-00001.jpg)
}

.videoContainer {
    position: relative;
    display: flex;
    height: 75%;
    /* min-height: 720px; */
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 2rem;
    padding-bottom: 4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    overflow: hidden;
}

.videoGrid {
    display: grid;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 38px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    font-size: 18px;
    line-height: 27px;
}

@media screen and (max-width: 800px) {
    .videoGrid {
        display: block;
    }
}

.videoCardTitle {
    margin-bottom: 19px;
    color: #0D809F;
    font-size: 23px;
    font-weight: 500;
    text-align: center;
    /* text-decoration: underline; */
}

.videoHead {
    margin: 0.67em 0;
    margin-bottom: 50px;
    font-weight: 600;
    text-align: center;
    font-size: 44px;
    line-height: 44px;
}