.root__container {
  .header__container {
    .title {
      font-size: 28px;
      font-weight: 500;
      letter-spacing: 0.05em;
      line-height: 44px;
    }
    .date__title {
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0.05em;
      display: flex;
      flex-direction: column;
      // line-height: 44px;

      span {
        font-size: 10px;
        color: gray;
        text-transform: uppercase;
      }
    }
  }
  .image_section_exercise_library {
    background-image: url("https://assets.website-files.com/5c7fe7d904beac7c6ce5de13/5c7fe7d904beacb072e5dfdc_Image-section-library2.jpg");    
    background-position: 100% 50%;
    background-size: auto 550px;
  }
  .image_section_overlay {
      padding: 45px;
      background-image: linear-gradient(90deg, #fff 40%, hsla(0, 0%, 100%, 0));
  }
  .w_row {
      margin-left: -10px;
      margin-right: -10px;
  }
  .__container {
      position: relative;
  }
  .section_title {
      margin-top: 0px;
      margin-bottom: 70px;
      font-size: 35px;
      line-height: 42px;
      font-weight: 300;
  }
  .text_column_left_exercise_intro {
      padding-right: 35px;
  }
  .w_col_6 {
      width: 50%;
  }
  .__p {
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
  }
    @media (max-width: 600px){
      .title {
        font-size: 22px;

      }
      .date__title {
        font-size: 14px;
        span {
          font-size: 8px;
        }
      }
    
  }

  /* ===== Add New Patient ===== */

  .new__patient {
    max-width: 350px;
    min-height: 120px;
    border: 1px dashed rgba(13, 128, 159, 0.5);
    border-radius: 13px;
    padding: 8px;
    .add__new__patient {
      min-height: 120px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background: #0d809f;
      border-radius: 13px;
      .add__icon__btn {
        color: #fff;
        .add__icon {
          width: 35px;
          height: 35px;
        }
      }
      .add__title {
        font-size: 18px;
        color: #fff;
        line-height: 28px;
        letter-spacing: 0.046em;
        padding: 10px 0px;
      }
    }
  }

  /* ===== Organizations ===== */

  .org__root {
    .org__inner__box {
      // border: 1px solid #e6eaee;
      // box-shadow: 0px 2px 12px rgba(21, 21, 22, 0.04);
      // height: 324px;
      padding: 16px;
      // border-radius: 13px;
    }
    .org__title {
      font-size: 18px;
      text-transform: capitalize;
    }
    .org__stats__box {
      display: flex;
      /* width: 100%; */
      justify-content: space-between;
      align-items: center;
      max-width: 75%;
    }

    @media (max-width: 600px) {
      .org__stats__box {
        flex-direction: column;
        align-items: flex-start;
        min-height: 90px;
      }
    }
  }

}
