.headerWrap {
    position: sticky;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    z-index: 10;
    margin: 0px;
    padding: 0px 15px 20px;
    border-top: 4px solid #0D809F;
    background-color: #F5F5F7;

    font-family: 'Poppins';
}

.logo {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */

    text-transform: uppercase;

    color: #F57059;
}

.linkContainer {
    display: flex;
    margin-top: 5px;
    margin-bottom: 15px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.logout {
    margin-right: 0px;
    margin-left: 30px;
    font-size: 14px;
    text-decoration: none;
    color: #0D809F;
    line-height: 27px;
    cursor: pointer;
    background-color: white;
    border: none;
    font-weight: bolder;

}

.link {
    margin-right: 0px;
    margin-left: 30px;
    font-size: 14px;
    text-decoration: none;
    color: #0D809F;
    line-height: 27px;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}

.kisok {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.team {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    text-align: center;

    color: #0A0A0A;
}

.partner {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    text-align: center;

    color: #0A0A0A;
}



.bLink:hover {
    color: #F47920 !important;
    cursor: pointer;
}