@font-face {
    font-display: swap;
    font-family: "Montserrat";
    src: local("Montserrat"), url(./assets/Inter/static/Inter-Regular.ttf) format("truetype");
}

*,html,body,div,p,span,h1,h2,h3,h4,h5,h6,blockquote,ul,li{
    font-family: Montserrat ,sans-serif !important;
}

.d-flex{
    display: flex !important;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-around{
    justify-content: space-around;
}
.justify-content-center{
    justify-content: center;
}
.align-items-center{
    align-items: center;
}
.ml-10{
    margin-left: 10px;
}
.mr-10{
    margin-right: 10px;
}
.inline-block{
    display: inline-block;
}
.text-center{
    text-align: center;
}

body{
    margin: 0px;
    font-family: Montserrat;
}
.spacer{
    height: 30px;
}